section#about {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  background-color: var(--light-secundary-color);
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.about-section {
  width: 650px;
  padding: 1rem;
}

.about-section h2 {
  text-align: left;
  line-height: 1.2;
  font-size: 4.5rem;
}

.about-section p {
  margin-top: 15px;
}

@media only screen and (max-width: 425px) {
  .about-section h2 {
    font-size: 3rem;
  }

  .about-section p {
    font-size: 1.5rem;
  }
}